{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
<link href="../static/css/stupid.css" rel="stylesheet" type="text/css"/>
<link href="../static/css/myapp.css" rel="stylesheet" type="text/css"/>
{{end}}

<!DOCTYPE html>
<html lang="en">
<div id = "loading">
  <br>LOADING
</div>
<div id = "doneLoading">
<div class="navbar">
  <a href="#home" onClick="location.href='index';">Home</a>
  <a id="hubTab" onClick="location.href='hub';">Hub</a>
  <a id="rateTab" onClick="location.href='rateresume';">Rate A Resume</a>
  <a id="reviewTab"onClick="location.href='resume_reviews';">Review A Resume</a>
  <a id="profileTab" onClick="location.href='profile';">Profile</a>
  <a id="loginTab" onClick="location.href='login';" >Login</a>
</div>
<div class="main_content">
  <div id="vue-div" class="display:none">
    <div class="container padded center resume_view">
      <h1> Reset Password </h1>
      Enter Email Associated With account
      <input type="text" id="forgotEmail" placeholder="Email">
      <button type="button" name="reset" @click="resetPassword">Send Reset Email</button>
      <button type="button" name="cancel" onClick="location.href='login';">Back</button>
      <h4 id="forgotSuccess"></h4>
      <h4 id="forgotError"></h4>
    </div>
  </div>
</div>
</div>
<script src="{{=URL('static', 'js/login.js')}}"></script>
