{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
{{end}}

<!DOCTYPE html>
<html lang="en">
<div class="main_content">
    <div id="vue-div" class="display:none">
      <div class="container padded center resume_view">
          <h1> Reset Password </h1>
            Enter Email Associated With account
            <input type="text" id = "email" placeholder="Email">
            <button type="button" name="reset" @click = "resetPassword">Send Reset Email</button>
            <div id = "error">
              <h4 id = "success_message"></h4>
              <h4 id = "error_message"></h4>
            </div>
      </div>
    </div>
</div>

<script src="{{=URL('static', 'js/forgotPassword.js')}}"></script>
