{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
{{end}}

<!DOCTYPE html>
<html lang="en">
<div class="main_content">
  <div id="vue-div" class="display:none">
    <div class="container padded center resume_view">
      <h1> Reset Password </h1>
      Enter Email Associated With account
      <input type="text" id="forgotEmail" placeholder="Email">
      <button type="button" name="reset" @click="resetPassword">Send Reset Email</button>
      <h4 id="forgotSuccess"></h4>
      <h4 id="forgotError"></h4>
    </div>
  </div>
</div>

<script src="{{=URL('static', 'js/login.js')}}"></script>
