{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
<link href="../static/css/stupid.css" rel="stylesheet" type="text/css"/>
<link href="../static/css/myapp.css" rel="stylesheet" type="text/css"/>
<link href="../static/css/custom.css" rel="stylesheet" type="text/css"/>
{{end}}


<!DOCTYPE html>
<html lang="en">
<div id = "loading">
  <img src="https://firebasestorage.googleapis.com/v0/b/resume-rater.appspot.com/o/luca.jpg?alt=media&token=93c171a2-5170-4912-9cf7-69d5517f7290" alt="">
</div>
<div id = "doneLoading">
<div class="navbar">
  <a id="homeTab" onClick="location.href='index';">Home</a>
  <a id="hubTab" onClick="location.href='hub';">Home</a>
  <a id="rateTab" onClick="location.href='rateresume';">Rate A Resume</a>
  <a id="profileTab" onClick="location.href='profile';">Profile</a>
  <a id="loginTab" onClick="location.href='login';" >Login</a>
</div>
<div class="main_content">
    <div id="vue-div" class="display:none">
        <div class="container padded center resume_view">
            <h4 id="user_latest_resume_name"></h4>
            <iframe class="user_latest_resume_file" id="user_latest_resume_file" type="application/pdf"></iframe> <br>
            <span class="user_latest_resume_date" id="user_latest_resume_date"></span> <br>
            <span class="user_latest_resume_date" id="user_latest_resume_description"></span> <br>
            <span class="user_latest_resume_date" id="user_latest_resume_rating"></span>
        </div>

        <div class="container padded center" v-show="!show_resume_feedback">
            <button type="button" @click="show_feedback">Show Feedback</button>
        </div>
        <div class="container padded center" v-show="show_resume_feedback">
            <button type="button" @click="show_feedback">Hide Feedback</button>
            <div class="resume_review_list" id="resume_review_list"></div>
        </div>

        <div class="container padded center" v-show="!show_past_resumes">
            <button type="button" name="button" @click="show_past_resume">Show Past Resumes</button>
        </div>
        <div class="container padded center" v-show="show_past_resumes">
            <button type="button" name="button" @click="show_past_resume">Hide Past Resumes</button>
            <div id="user_past_resume_list" class="user_past_resume_list"></div>
        </div>
    </div>
    </div>
    <div class="footer-container">
        <div class="footer">
          <span>
            <img id="logo" src="/images/logo.png" alt="ResumeRater"/>
          </span>
          <div>
            Created By:
            Ryan Cho
            Matthew Oey
            David Trang
            Thomas Wong
          </div>
          <div>
            Contact Us:
            rccho@ucsc.edu
            moey@ucsc.edu
            datrang@ucsc.edu
            twong40@ucsc.edu
          </div>
          <div class="social-media-icons">
            <a class="fa fa-facebook" href="https://www.facebook.com/sharer/sharer.php?u={url}"></a>
            <a class="fa fa-twitter" href="https://twitter.com/home?status={url}"></a>
            <a class="fa fa-google" href="https://plus.google.com/share?url={url}"></a>
          </div>
        </div>
</div>

<script src="{{=URL('static', 'js/login.js')}}"></script>
