{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>

{{end}}

<!DOCTYPE html>
<html lang="en">
<div class="main_content">

    <div class="container padded center">
        <h1>My Resume </h1>
        Resume Image <br>
        Resume Title <br>
        Average Score <br>
        <button>View Feedback</button> <br>
    </div>

    <div class = "container padded center">
        <button>Show Past Resumes</button> <br>
    </div>
</div>


<script src="{{=URL('static', 'js/default_hub.js')}}"></script>
