{{extend 'layout.html'}}
{{block head}}
{{end}}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Welcome to Resume Rater</title>
  <link href="../static/css/stupid.css" rel="stylesheet" type="text/css"/>
  <link href="../static/css/myapp.css" rel="stylesheet" type="text/css"/>
  <link href="../static/css/custom.css" rel="stylesheet" type="text/css"/>
  <script src="{{=URL('static', 'js/vue.js')}}"></script>
  <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
</head>

<body>
  <div id = "loading">
    <img src="https://firebasestorage.googleapis.com/v0/b/resume-rater.appspot.com/o/luca.jpg?alt=media&token=93c171a2-5170-4912-9cf7-69d5517f7290" alt="">
  </div>

  <div id = "doneLoading">
    <div class="navbar-clear">
      <a id="homeTab" onClick="location.href='index';">Home</a>
      <a id="hubTab" onClick="location.href='hub';">Home</a>
      <a id="rateTab" onClick="location.href='rateresume';">Rate A Resume</a>
      <a id="profileTab" onClick="location.href='profile';">Profile</a>
      <a id="loginTab" onClick="location.href='login';" >Login</a>
    </div>

    <div id="vue-div" class="display:none">
      <div class="header-wrapper">
       <!--  <div class="header-logo">
          <img id="logo" src="https://firebasestorage.googleapis.com/v0/b/resume-rater.appspot.com/o/rr%20logo%202.png?alt=media&token=4cee260a-ee7f-46a9-9d68-0f341e1a9f35" alt="Logo"/>
        </div> -->
        <div class="header-content">
          <h1 id="hero-title">Welcome to ResumeRater</h1>
          <button @Click="home_upload_button">Upload Your Resume</button>
        </div>
      </div>

     
      <div class="how-it-works-wrapper">
        <div class="how-it-works-content">
          <h2 id="how-title">How It Works</h2>
          It's easy as 1, 2, 3!
        </div>
      </div>
      <div class="steps-container">
        <div id="step1"></div>
        <div id="step2"></div>
        <div id="step3"></div>
      </div>

      <div class="desc-container">
          <div id="dstep1">
            Create your account
          </div>
          <div id="dstep2">
            Upload your resume
          </div>
          <div id="dstep3">
            Rate resumes while others rate yours!
          </div>
      </div>

      <div class="why-container">
          <div>
            <h2 id="why-title">Why Choose ResumeRater?</h2>
          </div>
          <div id="why-desc">
            Many often struggle finding support and help when reviewing and improving their resumes. You may not have the network to find help or be receptive of criticism. No matter the issue, ResumeRater will give you a place to both learn and teach. ResumeRater will provide you with resources and guidance to achieving a more perfect resume. Our platform has users from all different types of backgrounds - from students to people changing their occupation to professionals who just want to polish their resume. 
          </div>
      </div>

      <div class="started-wrapper">
        <div class="started-content">
          <br>
            <h2>Get Started!</h2>
            <br>
            <br>
            <button @click="home_upload_button">Upload Your Resume</button>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="{{=URL('static', 'js/login.js')}}"></script>
