{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
<link href="../static/css/stupid.css" rel="stylesheet" type="text/css"/>
<link href="../static/css/myapp.css" rel="stylesheet" type="text/css"/>
<link href="../static/css/custom.css" rel="stylesheet" type="text/css"/>
{{end}}

<!DOCTYPE html>
<html lang="en">
<div id = "loading">
  <br>LOADING
</div>
<div id = "doneLoading">
<div class="navbar">
  <a id="homeTab" onClick="location.href='index';">Home</a>
  <a id="hubTab" onClick="location.href='hub';">Home</a>
  <a id="rateTab" onClick="location.href='rateresume';">Rate A Resume</a>
  <a id="profileTab" onClick="location.href='profile';">Profile</a>
  <a id="loginTab" onClick="location.href='login';" >Login</a>
</div>
<div class="main_content">
  <div id="vue-div" class="display:none">
    <div class="container padded center resume_view">
      <h1> Log In </h1>
      <input type="text" id="loginEmail" placeholder="Email">
      <br>
      <br>
      <input type="password" id="loginPassword" placeholder="Password">
      <br>
      <br>
      <br>
      <button type="button" name="Sign Up" onClick="location.href='signUp';">Sign Up</button>
      <button type="button" name="Log In" @click="signIn">Log In</button><br>
      <a onClick="location.href='forgotPassword';"> Forgot Your Password? <a>
          <div>
            <h3 id="login_error"></h3>
          </div>
    </div>
  </div>
</div>
<div>
<script src="{{=URL('static', 'js/login.js')}}"></script>
