{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
{{end}}


<div>
    <div style="height:10px"></div>
    <div onmouseover="listing_mouseover(this)" onmouseout="listing_mouseout(this)" class="resume_listing container">
        <div class="half container">
            <div class="third"></div>
            <div class ="third">
                <span>
                    <i style="margin: 25px auto" class="fa fa-file-text fa-5x" aria-hidden="true"></i>
                </span>
            </div>
        </div>
        <div class="half container">
            <h6>Resume Title</h6>
            <div class="listing_author listing_text">Author: John Doe</div>
            <div class="listing_date listing_text">Date: December 25, 2018</div>
            <div class="listing_description listing_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer turpis enim, varius nec faucibus interdum, fringilla in ante. Nunc non luctus neque, vel sagittis risus. Donec at nisi eu nisi blandit tempor vitae in ipsum. Cras et est sit amet metus.</div>
        </div>
    </div>
        <div onmouseover="listing_mouseover(this)" onmouseout="listing_mouseout(this)" class="resume_listing container">
        <div class="half container">
            <div class="third"></div>
            <div class ="third">
                <span>
                    <i style="margin: 25px auto" class="fa fa-file-text fa-5x" aria-hidden="true"></i>
                </span>
            </div>
        </div>
        <div class="half container">
            <h6>Resume Title</h6>
            <div class="listing_author listing_text">Author: John Doe</div>
            <div class="listing_date listing_text">Date: December 25, 2018</div>
            <div class="listing_description listing_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer turpis enim, varius nec faucibus interdum, fringilla in ante. Nunc non luctus neque, vel sagittis risus. Donec at nisi eu nisi blandit tempor vitae in ipsum. Cras et est sit amet metus.</div>
        </div>
    </div>
    <div onmouseover="listing_mouseover(this)" onmouseout="listing_mouseout(this)" class="resume_listing container">
        <div class="half container">
            <div class="third"></div>
            <div class ="third">
                <span>
                    <i style="margin: 25px auto" class="fa fa-file-text fa-5x" aria-hidden="true"></i>
                </span>
            </div>
        </div>
        <div class="half container">
            <h6>Resume Title</h6>
            <div class="listing_author listing_text">Author: John Doe</div>
            <div class="listing_date listing_text">Date: December 25, 2018</div>
            <div class="listing_description listing_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer turpis enim, varius nec faucibus interdum, fringilla in ante. Nunc non luctus neque, vel sagittis risus. Donec at nisi eu nisi blandit tempor vitae in ipsum. Cras et est sit amet metus.</div>
        </div>
    </div>
    <div style="height:10px"></div>
</div>

<script src="{{=URL('static', 'js/rateresume.js')}}"></script>
