{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
<link href="../static/css/stupid.css" rel="stylesheet" type="text/css" />
<link href="../static/css/myapp.css" rel="stylesheet" type="text/css" />
<link href="../static/css/custom.css" rel="stylesheet" type="text/css"/>
{{end}}
<div id = "loading">
  <br>LOADING
</div>
<div id = "doneLoading">

<div class="main_content">
<div class="navbar">
  <a id="homeTab" onClick="location.href='index';">Home</a>
  <a id="hubTab" onClick="location.href='hub';">Home</a>
  <a id="rateTab" onClick="location.href='rateresume';">Rate A Resume</a>
  <a id="profileTab" onClick="location.href='profile';">Profile</a>
  <a id="loginTab" onClick="location.href='login';" >Login</a>
</div>
<div id="vue-div" class="display:none">
    <div>
        <div style="height:10px"></div>
        <div id="other_resume_list" class="other_resume_list"></div>
        <div style="height:10px"></div>
    </div>
</div>
</div>
<div class="footer-container">
        <div class="footer">
          <span>
            <img id="logo" src="/images/logo.png" alt="ResumeRater"/>
          </span>
          <div>
            Created By:
            Ryan Cho
            Matthew Oey
            David Trang
            Thomas Wong
          </div>
          <div>
            Contact Us:
            rccho@ucsc.edu
            moey@ucsc.edu
            datrang@ucsc.edu
            twong40@ucsc.edu
          </div>
          <div class="social-media-icons">
            <a class="fa fa-facebook" href="https://www.facebook.com/sharer/sharer.php?u={url}"></a>
            <a class="fa fa-twitter" href="https://twitter.com/home?status={url}"></a>
            <a class="fa fa-google" href="https://plus.google.com/share?url={url}"></a>
          </div>
        </div>
      </div>
</div>
<script src="{{=URL('static', 'js/login.js')}}"></script>
